.header_container {
    padding: 20px 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);

    .header_links_wrapper {
        display: flex;

        a:last-child{
            margin: 0;
        }

        .header_link {
            margin-right: 40px;
            cursor: pointer;
            color: #112B3C;
        }

    }


    .header_right_wrapper {

        .contact_link {
            margin-right: 40px;
            cursor: pointer;
            color: #112B3C;
        }


        button {
            padding: 10px 20px;
            background-color: #F66B0E;
            border: none;
            color: #fff;
            cursor: pointer;
        }
    }

}