* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
ul, ol {
  list-style-type: none; /* Liste öğelerinin başındaki noktaları kaldırır */
}

@font-face {
  font-family: sfpro;
  src: url("../public/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: poppins;
  src: url("../public/Poppins-Regular.ttf");
}